<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PokemonBattleNetwork.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D9ABC78E1C43E82700808662</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9ABC7A41C43E82700808662</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9ABC7AF1C43E82700808662</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
